.place__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
}

@media screen and (max-width: 1060px) and (min-width: 901px) {
  .place__title {
    max-width: 440px;
  } 
}

@media screen and (max-width: 900px) and (min-width: 471px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  } 
}

@media screen and (max-width: 470px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  } 
}