.photo-grid {
  max-width: 1184px;
  margin: 0 auto 0;
  padding: 0 48px 0;
  display: grid;
  grid-template-columns: repeat(4, fit-content(284px));
  gap: 16px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, fit-content(300px));
    gap: 14px;
  } 
}

@media screen and (max-width: 768px) and (min-width: 361px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, fit-content(352px));
    gap: 16px;
    padding: 0 24px 0;
  } 
}

@media screen and (max-width: 360px) {
  .photo-grid {
    max-width: 360px;
    grid-template-columns: fit-content(360px);
    gap: 12px;
    padding: 0 16px 0;
  } 
}