@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
.page {
  max-width: 1280px;
  background: #2a2c2f;
  color: #fff;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 28px 0 24px;
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1184px;
  height: 52px;
  padding: 0 48px 0;
  display: flex;
}

.header__logo {
  width: 176px;
  height: 52px;
  margin-right: auto;
}

.header__lang-list {
  list-style: none;
  display: flex;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  margin-top: 18px;
  padding-left: 18px;
}

.header__lang-link_active {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 92px;
}

.lead {
  padding-top: 56px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
  margin: 0 auto 0;
  max-width: 720px;
  max-height: 200px;
}

.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  margin: 32px auto 0;
  max-width: 640px;
  max-height: 72px;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-top: 64px;
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 148px;
}

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  margin: 0;
}

.intro__text {
  max-width: 690px;
  margin: 40px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
}

.intro__list {
  font-style: normal;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 33px;
}

.intro__list-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.intro__list-item_weight_normal {
  font-weight: 400;
}

.photo-grid {
  max-width: 1184px;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
}

.places {
  margin: 0 auto 0;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 80px;
  flex-direction: column;
  max-width: 984px;
  min-width: 984px;
}

.place {
  /*grid-template-columns: 244px 100px;
  grid-template-rows: 150px 150px;*/
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
}

.place__image {
  max-width: 460px;
  margin: 0;
}

.place__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 456px;
  max-height: 46px;

}

.place__url-heading {
  text-transform: uppercase;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #fff;
  margin: 0;
}

.place__description {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.cover {

}

.cover__overlay {
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-image: url(./images/cover-trains.jpg);
  min-height: 740px;
  max-width: 1184px;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

.cover__overlay::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.cover__title {
  margin: 0;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  max-width: 560px;
  max-height: 152px;
}

.cover__subtitle {
  margin: 32px 0 0;
  color: #fff;
  font-style: normal;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  max-width: 360px;
  max-height: 66px;
}

.footer {
  margin: 0;
  max-width: 1184px;
  display: flex;
  align-items: baseline;
  padding: 92px 48px 0;
}

.navigation

.navigation__links-list {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  text-decoration: none;
  color: #fff;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  margin-left: auto;
}
