@import url("./vendor/fonts.css");
.page {
  max-width: 1280px;
  background: #2a2c2f;
  color: #fff;
  margin: 0 auto;
  font-family: 'Inter';
  box-sizing: border-box;
  padding: 28px 0 24px;
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1184px;
  height: 52px;
  padding: 0 48px 0;
  display: flex;
}

.header__logo {
  width: 176px;
  height: 52px;
  margin-right: auto;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 18px;
  padding-left: 18px;
}

.content {
  display: flex;
  flex-direction: column;
}

.lead {
  padding-top: 56px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 0;
  max-width: 720px;
  max-height: 200px;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 0;
  max-width: 640px;
  max-height: 72px;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-top: 64px;
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

.intro {
  padding-top: 92px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

.intro__text {
  font-style: normal;
  max-width: 690px;
  margin: 40px auto 0 ;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.intro__list {
  font-style: normal;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 33px;
}
.intro__list-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.intro__list-item_weight_normal {
  font-weight: 400;
}

.photo-grid {
  max-width: 1184px;
  margin: 0 auto 0;
  padding-top: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
}