.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  text-decoration: none;
  color: #fff;
  transition-duration: 0.5s;
}

.navigation__link:hover {
  transition-duration: 0.5s;
  opacity: 0.8;
}