.place__description {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 900px) {
  .place__description {
    gap: 25px;
  } 
}

@media screen and (max-width: 470px) {
  .place__description {
    margin: 0 16px 0;
  } 
}